@import '../mixins';

.vegetarian_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    font-size: 1rem;
  }
  /*素食按鈕*/
  .vegetarian_text {
    padding-right: 2px;
    color: #689F38; /*#689F38 #d6751f*/
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 0.1rem;
  }
  .not_vegetarian_text {
    padding-right: 2px;
    color:rgba(118, 117, 117, 0.5);
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 0.1rem;
  }
  .toggle {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 40.5px;
  }
  .toggle input {
    display: none;
  }
  
  .button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .button:before {
    position: absolute;
    content: "";
    height: 34.5px;
    width: 34.5px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0px 4px 23px 0 rgba(0, 0, 0, 0.08), -2px 4px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  input:checked + .button {
    background-color: #8BC34A; /*#8BC34A  #d6751f*/
  }
  input:focus + .button {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .button:before, input:checked + .button:after {
    -webkit-transform: translateX(34.5px);
            transform: translateX(34.5px);
  }
  input:checked + .button:after {
    color: #689F38;  /*#689F38  #c16d23*/
  }
  
  .button.round {
    border-radius: 34px;
  }
  .button.round:before {
    border-radius: 50%;
  }
  .button.round:after {
    font-family: "FontAwesome";
    content: "\f18c"; /*f6c8*/
    position: absolute;
    left: 3px;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34.5px;
    width: 34.5px;
    font-size: 1.5rem;
    color: #ccc;
    transition: 0.4s;
}