@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700;900&display=swap');

@mixin smallDeviceSize {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

#shop-title .span {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: spin;
	animation-name: spin;
	-webkit-animation-duration: 0.18s;
	animation-duration: 0.18s;
}

/*拉霸動畫*/
@-webkit-keyframes spin {
    from {
      top: 0;
    }
    to {
      top: calc(-30px * 6);
    }
}
  
@keyframes spin {
    from {
      top: 0;
    }
    to {
      top: calc(-30px * 6);
    }
}

.notAllow {
  pointer-events: none;
  cursor: default;
}

.mapSize {
  width: 585px;
  height: 325px;
  @include smallDeviceSize{
    width: 450px;
    height: 300px;
}
}